Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.1
sqlalchemy==2.0.36
selenium==4.25.0
webdriver-manager==4.0.2
beautifulsoup4==4.12.3
requests==2.32.3
Pillow
google-generativeai==0.8.3
openai==1.54.3
python-dotenv==1.0.1
gunicorn==23.0.0
APScheduler==3.10.4
psycopg2-binary==2.9.10
